:root {
  --elephant: #183247;
  --smoke: #f3f5f7;
  --milk: #fff;
  --smoke10: #f7f9fa;
  --smoke700: #475867;
  --smoke600: #576c7d;
  --jungle: #00a886;
  --azure: #2c5cc5;
  --persimmon: #e43538;
  --casablanca: #e86f25;
  --sidebar-bg: #264966;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#code-panel {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

pre {
    padding: 2em;
}



.gutter {
    background-color: var(--elephant);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

